.modal{
    width: 300px;
    max-height: 300px;
    border-radius: 5px 0px;
    border: 1px solid #e6ecf0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.modal-bottom {
    display: block;
    width: 300px;
    height: 100px;
    border-radius: 0px 5px;
    border-top:0px!important;
    border: 1px solid #e6ecf0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

